.lg {
    width: 30%;
    height: 50%;
    border: 2px solid #dddfe2;
    background-image: url("../components/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.15rem;
}


  
  input {
    padding: 1rem;
    border-radius: 0.8rem;
    border: 2.5px solid gray;
    font-size: 1.1rem;
  }
.jk {
    padding: 1rem;
    margin: 0;
    width: 100%;
    height: 795px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url("../components/jk.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center; 
    overflow: hidden;
    

}  

.bi {
    display: flex;
    color: #fff;
	position: relative;
    border: none;
    padding: 0rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.9rem;
    margin: 8px 12px;
    cursor: pointer;
     width: 40%;
     display:flex;
     align-items: center;
     justify-content: center;
	

}
.errmsg{
    color: red;

}